<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
   <title>COMS.com</title>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
   <script src="https://unpkg.com/bootstrap-table@1.13.5/dist/bootstrap-table.min.js"></script>
   <script src="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.1.0/bootstrap.min.js"></script>
   <style>
      /* body{
      background:  url("./img/background.jpg");
      background-repeat: no-repeat;
      background-size: 100%;
      } */
      body, html {
      height: 100%;
      margin: 0;
         width: 100%;
      /* The image used */
         margin: 0;
         background-image: url("/img/myseries-background.png");
         background-attachment:fixed;
         background-position:center bottom;
      /* background-image: url("./img/troll.jpg"); */
      /* Full height */
      /* Center and scale the image nicely */
      background-repeat: no-repeat;
      background-size: cover;
      /* color: #71eeb8; */
      }
      nav {background-color: #71eeb8; border:none;font-family:'Open Sans', sans-serif;position:relative;}
      .navbar-header{padding-right:50px}
      .navbar-brand{color:#08442a}
      .navbar-brand:hover{color:#08442a;}
      .nav-item a{color:#08442a}
      .nav-item a:hover{text-decoration: none;color:white}
      .nav-item{margin-right:15px}

      .container{margin-left:10px;margin-right:10px}

      .middle{}
      input{margin-top:12px}

      form textarea{width:80%;resize:none;height:50px}
      form textarea:focus{outline:none}
      form button{position:absolute;width:inherit;height:50px}

      /* The container
      <div>
      - needed to position the dropdown content */
      .dropdown {position: relative;display: inline-block;}
      /* Dropdown Content (Hidden by Default) */
      .dropdown-content {display: none;position: absolute;background-color: white;box-shadow: 0px 8px 16px 2px rgba(0,0,0,0);z-index: 1;}
      /* Links inside the dropdown */
      .dropdown-content a {color: black;padding: 12px 16px;text-decoration: none;display: block;}
      /* Change color of dropdown links on hover */
      .dropdown-content a:hover {background-color: #ddd;}
      /* Show the dropdown menu on hover */
      .dropdown:hover .dropdown-content {display: block;}
      /* Change the background color of the dropdown button when the dropdown content is shown */
      .dropdown:hover .dropbtn {background-color: #17a2b8;}
      label{background-color: white;}

      input[type=number]{width: 35px;height:18px}
      input[type=color]{width: 20px;height:20px}
   </style>
</head>

<nav class="navbar navbar-toggleable-xs navbar-expand-md fixed-top">
   <div class="navbar-collapse collapse">
      <div class="navbar-header">
         <a class="navbar-brand" th:href="@{/home}"><span class="fa fa-book"></span> COMS</a>
      </div>
   </div>
</nav>

<body>
   <div class="container">

      <!-- TOP TOOLBAR -->
      <div class="row">
         <div class="col">
            <div class="btn-toolbar" role="toolbar">
               <!-- UNDO REDO GROUP UNGROUP =-->
               <div class="btn-group mr-2" role="group" style="margin-left:55px">
                  <button type="button" class="btn btn-info" onclick="undo()" title="Undo">
                     <img src="/img/undo.png" alt="Undo" height="20" width = "20">
                  </button>
                  <button type="button" class="btn btn-info" onclick="redo()" title="Redo">
                     <img src="/img/redo.png" alt="Redo" height="20" width = "20">
                  </button>
                  <button type="button" class="btn btn-info" onclick="deleteObject()" title="Delete">
                     <img src="/img/trash.png" alt="Delete" height="20" width = "20">
                  </button>
                  <button  type="button" class="btn btn-info" onclick="group()" title="Group">
                     <img src="/img/group.png" alt="Group" height="20" width = "20">
                  </button>
                  <button type="button" class="btn btn-info" onclick="ungroup()" title="Ungroup">
                     <img src="/img/ungroup.png" alt="Ungroup" height="20" width = "20">
                  </button>
               </div>

               <!-- ZOOMING BUTTONS -->
               <div class="btn-group mr-2" role="group" style="margin-left:150px">
                  <button  type="button" class="btn btn-info" onclick="zoomin()" title="Zoom In">
                     <img src="/img/zoom-in.png" alt="Zoom In" height="20" width = "20">
                  </button>
                  <button  type="button" class="btn btn-info" onclick="zoomout()" title="Zoom Out">
                     <img src="/img/zoom-out.png" alt="Zoom Out" height="20" width = "20">
                  </button>
                  <button  type="button" class="btn btn-info" onclick="recenter()" title="Re-center">
                     <img src="/img/center.png" alt="Center" height="20" width = "20">
                  </button>
                  <button type="button" class="btn btn-info" onclick="copy()" title="Copy">
                     <img src="/img/copy.png" alt="Copy" height="20" width = "20">
                  </button>
                  <button type="button" class="btn btn-info" onclick="cut()" title="Cut">
                     <img src="/img/cut.png" alt="Cut" height="20" width = "20">
                  </button>
                  <button type="button" class="btn btn-info" onclick="paste()" title="Paste">
                     <img src="/img/paste.png" alt="Paste" height="20" width = "20">
                  </button>
               </div>

               <!-- CLEAR SAVE EXPORT -->
               <div class="btn-group mr-2" role="group" style="margin-left:150px">
                  <button id="clear-canvas" class="btn btn-info" title="Clear Canvas">
                     <img src="/img/clear.png" alt="Clear" height="20" width = "20">
                  </button>
                  <button id="save-canvas" type="button" class="btn btn-info" title="Save">
                     <img src="/img/save.png" alt="Save" height="20" width = "20">
                  </button>
                  <div class="btn-group" role="group">
                     <button class="btn btn-info dropdown-toggle" type="button" id="exportButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="Export">
                        <img src="/img/download.png" alt="shapes" height="20" width="20">
                     </button>
                     <div class="dropdown-menu" aria-labelledby="exportButton">
                        <button type="button" class="btn btn-info" onclick="downloadImage()" title="Export as Image">
                           <img src="/img/imagedownload.png" alt="Export as an Image" height="20" width = "20">
                        </button>
                        <button type="button" class="btn btn-info" onclick="downloadJSON()" title="Export as JSON">
                           <img src="/img/json.png" alt="Export as a JSON" height="15" width="20">
                        </button>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>

      <div class="row" style="margin-left:35px">
         

         <select id="fonts" onchange="fontchange()">
            <option value="Arial">Arial</option>
            <option value="Helvetica">Helvetica</option>
            <option value="Times New Roman">Times New Roman</option>
            <option value="Times">Times</option>
            <option value="Impact">Impact</option>
            <option value="Courier New">Courier New</option>
            <option value="Courier">Courier</option>
            <option value="Verdana">Verdana</option>
            <option value="Georgia">Georgia</option>
            <option value="Palatino">Palatino</option>
            <option value="Garamond">Garamond</option>
            <option value="Bookman">Bookman</option>
            <option value="Comic Sans MS">Comic Sans MS</option>
            <option value="Trebuchet MS">Trebuchet MS</option>
            <option value="Arial Black">Arial Black</option>
         </select>
         <input type="number"min="0" max="500" value="30" id="font-size" width="20px" height="10px">
         <select id="drawing-mode-selector">
            <option>Pencil</option>
            <option>Circle</option>
            <option>Spray</option>
            <option>Poka-dots</option>
            <option>hline</option>
            <option>vline</option>
            <option>square</option>
            <option>diamond</option>
         </select>
         <input type="color" value="#000000" id="drawing-color">
         <!-- OUTLINE COLOR -->
         <label for="stroke">Outline Color</label>
         <input type="color" id="stroke" name="stroke" value="#000000" onchange="changeStroke()">
         <!-- FILL COLOR -->
         <label for="fill">Fill Color</label>
         <input type="color" id="fill" name="fill" value="#ffffff" onchange="changeFill()">
         <!--
         <button type="button" class="btn btn-info" onclick="removeFill()">
            Remove Fill
         </button>
         -->

         <label for="drawing-line-width">Line Width</label>
         <input type="number" min="1" max="500" value="15" id="drawing-line-width">

         <!-- SHADOW -->
         <label for="drawing-shadow-color">Shadow Color</label>
         <input type="color" value="#000000" id="drawing-shadow-color">
         <label for="drawing-shadow-width">Shadow Width</label>
         <input type="number" min="0" max="500" value="0" id="drawing-shadow-width">
         <label for="drawing-shadow-offset">Shadow Offset</label>
         <input type="number" min="0" max="500" size="4" value="30" id="drawing-shadow-offset">
      </div>

      <div class="row">
         <!-- SIDE TOOLBAR -->
         <div class="col-md-auto">
            <div class="btn-group-vertical" style="float:left">

               <!-- SELECTION BUTTON -->
               <button class="btn btn-info" id="drawing-mode" title="Selection">
                  <img src="/img/select.png" alt="shapes" height="20" width="20">
               </button>

               <!-- DRAWING BUTTON -->
               <button class="btn btn-info" onclick="enterDrawingMode()" title="Draw">
                  <img src="/img/drawing.png" alt="shapes" height="20" width="20">
               </button>

               <!-- SHAPES BUTTONS -->
               <div class="btn-group" role="group">
                  <button class="btn btn-info dropdown-toggle" type="button" id="shapesButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="Shapes">
                     <img src="/img/shapes.png" alt="shapes" height="20" width="20">
                  </button>
                  <div class="dropdown-menu" aria-labelledby="shapesButton">
                     <button type="button" class="btn btn-info" onclick="drawRec();exitDrawingMode()" id="rect">
                        <img src="/img/rectangle.png" alt="Rectangle" height="20" width="30">
                     </button>
                     <button type="button" class="btn btn-info" onclick="drawSquare();exitDrawingMode()">
                        <img src="/img/square.png" alt="Square" height="20" width = "20">
                     </button>
                     <button type="button" class="btn btn-info" onclick="drawTriangle();exitDrawingMode()">
                        <img src="/img/triangle.png" alt="Triangle" height="20" width = "20">
                     </button>
                     <button type="button" class="btn btn-info" onclick="drawCircle();exitDrawingMode()">
                        <img src="/img/ellipse.png" alt="Circle" height="20" width = "20">
                     </button>
                     <button type="button" class="btn btn-info" onclick="drawLine();exitDrawingMode()">
                        <img src="/img/line.png" alt="Line" height="20" width = "20">
                     </button>
                     <button type="button" class="btn btn-info" onclick="arrow();exitDrawingMode()">
                        <img src="/img/arrow.png" alt="Arrow" height="20" width = "20">
                     </button>
                     <button type="button" class="btn btn-info" onclick="chat();exitDrawingMode()">
                        <img src="/img/chat.png" alt="Talk Bubble" height="20" width = "20">
                     </button>
                     <button type="button" class="btn btn-info" onclick="thought();exitDrawingMode()">
                        <img src="/img/thought.png" alt="Thought Bubble" height="20" width = "20">
                     </button>
                     <button type="button" class="btn btn-info" onclick="scream();exitDrawingMode()">
                        <img src="/img/scream.png" alt="Scream Bubble" height="20" width = "20">
                     </button>
                     <button type="button" class="btn btn-info" onclick="action();exitDrawingMode()">
                        <img src="/img/action.png" alt="Action Bubble" height="20" width = "20">
                     </button>
                  </div>
               </div>

               <!-- ADD TEXTBOX -->
               <button class="btn btn-info" onclick="addTextbox();exitDrawingMode()" title="Add Text">
                  <img src="/img/text.png" alt="Text" height="20" width="20">
               </button>

               <!-- UPLOAD BUTTONS -->
               <div class="btn-group" role="group">
                  <button class="btn btn-info dropdown-toggle" type="button" id="uploadButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="Upload">
                     <img src="/img/image.png" alt="upload" height="20" width="20">
                  </button>
                  <div class="dropdown-menu" aria-labelledby="uploadButton">
                     <button type="button" class="btn btn-info" onclick="document.getElementById('imgLoader').click();;exitDrawingMode()" title="Upload Image">
                        <img src="/img/imagedownload.png" alt="Upload Image" height="20" width = "20">
                     </button>
                     <input type='file' id="imgLoader" style="display: none;"/>
                     <button type="button" class="btn btn-info" onclick="document.getElementById('jsonLoader').click();;exitDrawingMode()" title="Upload JSON">
                        <img src="/img/json.png" alt="Upload Json" height="20" width = "20">
                     </button>
                     <input type='file' id="jsonLoader" style="display: none;"/>
                  </div>
               </div>

               <!-- BACKGROUND BUTTONS -->
               <button type="button" class="btn btn-info" onclick="document.getElementById('backgroundImage').click();;exitDrawingMode()" title="Add Background">
                  <img src="/img/add.png" alt="Upload Download Image" height="20" width = "20">
               </button>
               <input type='file' id="backgroundImage" style="display: none;"/>
               <button type="button" class="btn btn-info" onclick="removeBackground();exitDrawingMode()" title="Remove Background">
                  <img src="/img/remove.png" alt="Remove Background" height="20" width = "20">
               </button>

               <!-- LAYER BUTTONS -->
               <button type="button" class="btn btn-info" onclick="sendToBack();exitDrawingMode()" title="Send To Back" >
                  <img src="/img/back.png" alt="Send To Back" height="15" width="20">
               </button>
               <button type="button" class="btn btn-info" onclick="back();exitDrawingMode()" title="Send Back One" >
                  <img src="/img/backward.png" alt="Send Back One" height="15" width="20">
               </button>
               <button type="button" class="btn btn-info" onclick="front();exitDrawingMode()" title="Send Forward One" >
                  <img src="/img/forward.png" alt="Send Front One" height="15" width="20">
               </button>
               <button type="button" class="btn btn-info" onclick="bringToFront();exitDrawingMode()" title="Send To Front" style="-moz-transform: scale(-1, -1);-o-transform: scale(-1, -1);-webkit-transform: scale(-1, -1);transform: scale(-1, -1);">
                  <img src="/img/back.png" alt="Send To Front" height="15" width = "20">
               </button>

            </div>
         </div>

         <!-- CANVAS -->
         <div class="col" style="margin-left:50px">
            <div id="mydiv" tabindex="0">
            <canvas id="canvas" width="1200px" height="600px" style="border:1px solid #000000;"></canvas>
         </div>

      </div>

      <!-- PAGINATION -->
      <div class="row" style="text-align: center">
         <div class="col">
            <ul class="pagination" th:if="${panelList!=null}">
               <li class="page-item" th:if="${panelList.size() > 1}">
                  <a class="page-link"th:data-thing="${currentPanel.getId()}" onclick="deletePanel(this.getAttribute('data-thing'));");>
                     Delete Panel
                  </a>
               </li>
               <li class="page-item" th:each="panel,iter: ${panelList}">
                  <a class="page-link" th:text="${iter.index+1}" th:data-thing="${panel.getId()}" onclick="form_edit_panel(this.getAttribute('data-thing'));"></a>
               </li>
               <li class="page-item">
                  <a class="page-link" onclick="addPanelSubmit()">
                     Add Panel
                  </a>
               </li>
            </ul>
         </div>
      </div>


      <script>
         var sel = document.getElementById('fonts');
         console.log( sel.value );
         function fontchange(){
             console.log("value has been changed");
             var x = document.getElementById("fonts").value;
             console.log(x);
             console.log(typeof(x));
         }
      </script>


<!--          <form action = "/series/editComic" method = "post" id = "editPanelForm"> -->
     <form hidden action = "/comic/edit" method = "post" id = "editPanelForm">
         <input name = "editPanelId" id = "editPanelId">
      </form>
      <form id="addPanelForm" hidden action = "/addPanel", method = "GET">
         <button type="submit"></button>
      </form>
      <form id = "deletePanelForm" action = "/panel/delete" method = "get">
         <input hidden id = "deletePanelId" name = "panelId">
      </form>


      <script src="/js/canvas-toBlob.js"></script>
      <script type="text/javascript" src = "/js/FileSaver.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/fabric.js/2.7.0/fabric.min.js"></script>
      <script type="text/javascript" src = "/js/canvasDrawing.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script>
          $(document).ready(function() {
              $("#save-canvas").click(function() {
                 console.log(canvas.toJSON());
                  console.log(canvas.toDataURL);
                  var requestBody = {
                      body: JSON.stringify(canvas.toJSON()),
                      image: canvas.toDataURL()
                  }
                  $.ajax({
                      type:'POST',
                      url :"/savePanel",
                      data: requestBody,
                      success: [function(data) {
                          console.log(data);
                          //$("body").html(data);
                     }],
                      error:function(exception){alert('Exeption:'+exception);}
                  });
              });
          });
         function form_edit_panel(panelId) {
             document.getElementById("editPanelId").value = panelId
             document.getElementById("editPanelForm").submit();
         }

         function addPanelSubmit(){
            document.getElementById("addPanelForm").submit();
         }
          function deletePanel(panelId)
          {
             document.getElementById("deletePanelId").value = panelId;
             document.getElementById("deletePanelForm").submit();

          }
      </script>
      <script th:inline="javascript">
         /*<![CDATA[*/

         console.log(/*[[${currentPanel}]]*/ null);
         if(/*[[${currentPanel}]]*/ null != null)
         {
             var json = /*[[${currentPanel.getFabricJSON()}]]*/ null ;
             loading(json);
             // canvas.loadFromJSON(json, function() {
             //     canvas.renderAll();
             // },function(o,object){
             //     console.log(o,object)
             // })
         }


         /*]]>*/
      </script>
   </div>
</body>
</html>