<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>COMS.com</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto+Condensed" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <style>
        nav {background-color: #71eeb8; border:none;font-family:'Open Sans', sans-serif;position:relative;}
        .navbar-header{padding-right:50px}
        .navbar-brand{color:#08442a}
        .navbar-brand:hover{color:#08442a;}
        .nav-item a{color:#08442a}
        .nav-item a:hover{text-decoration: none;color:white}
        .nav-item{margin-right:15px}

        #searchBox{margin-top:3px}
        #searchBox input[type=search]{width:15px;padding-left:5px;color:transparent;cursor:pointer;}
        #searchBox input[type=search]:hover{background-color:none}
        #searchBox input[type=search]:focus{width:250px;padding-left:40px;color:#000;background-color:#fff;cursor:auto;border-radius: 5px}
        #searchBox-2 input:-moz-placeholder {color: transparent;}
        #searchBox-2 input::-webkit-input-placeholder{color: transparent;}
        #searchBox input[type=search]{background:url(https://png.icons8.com/search) no-repeat 9px center;width:35px;border: none;background-size:20px 20px;padding:5px}
        input {outline: none;}
        input[type=search] {-webkit-appearance: textfield;-webkit-box-sizing: content-box;font-family: inherit;font-size: 100%;}
        input::-webkit-search-decoration, input::-webkit-search-cancel-button {display: none; }

        .container{margin-top:7%;}
        h2{text-align: center;padding-bottom:15px}
        img{object-fit: cover; width:250px;height:200px}
        .col-md-3{margin-bottom:3%;margin-right:3%;}
    </style>

</head>

<nav class="navbar navbar-toggleable-xs navbar-expand-md fixed-top">
    <div class="navbar-collapse collapse">
        <div class="navbar-header">
            <a class="navbar-brand" th:href="@{/home}"><span class="fa fa-book"></span> COMS</a>
        </div>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active"><a href="searchResults.html">Genre</a></li>
            <li class="nav-item active"><a href="searchResults.html">Recently Added</a></li>
            <li class="nav-item active"><a href="searchResults.html">My List</a></li>
        </ul>
    </div>
    <div class="navbar-collapse collapse">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <form id="searchBox" action="/search/keyword" method = "get">
                    <input name = "searchWord" type="search">
                </form>
            </li>
            <li class="nav-item active" style="margin-top:8px" th:if="${isLoggedIn}">
                <a th:href="@{/series/mySeries}"> My Creations</a>
            </li>
            <li class="nav-item active" style="margin-top:8px" th:if="${isLoggedIn}">
                <a th:href="@{/create}"><span class="fa fa-upload"></span> Upload</a>
            </li>
            <li class="nav-item dropdown" th:if="${isLoggedIn}">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#"><span class="fa fa-user-circle-o" aria-hidden="true"  th:text=" ${username}"> </span></a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" th:href="@{/profile/inbox}">Inbox</a>
                    <a class="dropdown-item" th:href="@{/profile/self}">My Profile</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" th:href="@{/logout}">Log Out</a>
                </div>
            </li>
            <li class="nav-item active" style="margin-top:8px" th:if="${notLoggedIn}">
                <a th:href="@{/}"><span class="fa fa-sign-in"></span> Login</a>
            </li>
        </ul>
    </div>
</nav>

<body>
<div class="container">
    <h2>My Creations</h2>
    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#createSeriesModal">Add New Series</button>
    <div th:each="series: ${seriesMap}">
        <h3 th:text="${series.key.getSeriesName()}"></h3>
        <a th:data-thing="${series.key.getId()}" onclick="deleteSeries(this.getAttribute('data-thing'));" id="deleteSeries" class="btn btn-danger">Delete</a>
        <div class="row">
            <div class="col-md-3" th:each="comic: ${series.value}">
                <div class="card" style="width: 18rem;">

                    <div class="card-body">
                        <h5 class="card-title" th:text="${comic.getComicName()}"></h5>
                        <a id="view" th:href="@{'/comic/view/'+ ${comic.getId()}}"><img src=""></a>
                        <a id="edit" th:data-thing="${comic.getId()}" onclick="editComic(this.getAttribute('data-thing'));" class="btn btn-primary">Edit</a>
                        <a th:data-thing="${comic.getId()}" onclick="deleteComic(this.getAttribute('data-thing'));" id="delete" class="btn btn-danger">Delete</a>

                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card" style="width: 18rem;">
                    <a th:data-thing="${series.key.getId()}" onclick="setSeriesID(this.getAttribute('data-thing'));" href="#" style="margin:0 auto;padding:30px" data-toggle="modal" data-target="#createComicModal"><span class="fa fa-plus" style=""></span></a>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="modal fade" id="createSeriesModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">New Series</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <form action="/series/addSeries"  method="post" id = "newSeries">
                    <input value = "" id = "seriesNameBox" class="form-control input-large" name="seriesName" type="text" placeholder="Series Name"><br/>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal" style="float:left;background-color:lightgrey;border-color:lightgrey">Close</button>
                        <button onclick= "form_submit()" type="submit" class="btn btn-danger" data-dismiss="modal">Add Series</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="createComicModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">New Series</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <form action="/series/addComic"  method="post" id = "newComic">
                    <input hidden id = "seriesID" name = "seriesId" >
                    <input value = "" id = "comicNameBox" class=" required form-control input-large" name="comicName" type="text" placeholder="Comic Name" required><br/>
                    <input value = "" id = "tagsBox" class= "required hide form-control input-large" name="tags" type="text" placeholder="Tags" required><br/>
                    <input value = "" id = "datePicker" class= "hide required" type="date" name="publishDate" required>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal" style="float:left;background-color:lightgrey;border-color:lightgrey">Close</button>
                        <button onclick= "form_submit_comic()" type="submit" class="btn btn-danger" data-dismiss="modal">Add Comic</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
    <form id = "deleteForm" action = "/series/deleteComic" method = "get">
        <input hidden id = "deleteComicId" name = "comicId">
    </form>
    <form id = "editForm" action = "/series/editComic" method = "post">
        <input hidden id = "editComicId" name = "editComicId">
    </form>
    <form id = "deleteSeriesForm" action = "/series/deleteSeries" method = "post">
        <input hidden id = "deleteSeriesId" name = "seriesId">
    </form>
    <form id = "viewComicForm" action = "/comic/view" method = "get">
        <input hidden id = "viewComicId" name = "viewComicID">
    </form>
</div>

<script type="text/javascript">

    $(function() {
        $("#datePicker").datepicker({
            dateFormat: "yy-mm-dd"
        });
    });

    function viewTheComic(comicId)
    {
        document.getElementById("viewComicId").value = comicId;
        document.getElementById("viewComicForm").submit();
    }
    function editComic(comicId)
    {


        document.getElementById("editComicId").value = comicId;
        document.getElementById("editForm").submit();

    }
    function deleteSeries(seriesId)
    {
        document.getElementById("deleteSeriesId").value = seriesId;
        document.getElementById("deleteSeriesForm").submit();

    }
    function deleteComic(comicId)
    {
        document.getElementById("deleteComicId").value = comicId;
        document.getElementById("deleteForm").submit();

    }
    function setSeriesID(id){
        document.getElementById("seriesID").value = id;
    }
    function form_submit() {
        if(document.getElementById("seriesNameBox").value == "") {
            alert("Must Have Series Name");
        }
        else{
            document.getElementById("newSeries").submit();
        }

    }
    function form_submit_comic() {


        if(document.getElementById("tagsBox").value == "" ||
            document.getElementById("comicNameBox") == "" ||
            document.getElementById("datePicker") == "" )
        {
            alert("Must Fill Out All Fields");
        }
        else
        {
            document.getElementById("newComic").submit();
        }


    }
</script>
</body>

</html>